<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header'); -%>
</head>

<body id="page-top">

        <%- include('body1'); -%>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- <h1 class="h3 mb-4 text-gray-800">Blank Page</h1> -->
          <iframe src='https://www.nicepng.com/png/detail/152-1526284_under-construction-meyer-reumann-sorry-this-page-is.png' width='1366px' height='623px' frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>
        </div>
        <!-- /.container-fluid -->


      <!-- End of Main Content -->
      <%- include('body2'); -%>

</body>

</html>
