<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../vendor/datatables/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="../../vendor/datatables/css/buttons.dataTables.css" />
    <link rel="stylesheet" href="../../vendor/datatables/css/select.dataTables.css" />
    <link rel="stylesheet" href="../../vendor/datatables/css/responsive.dataTables.css" />
    <%- include('header'); -%>
</head>

<body id="page-top">

    <%- include('body1'); -%>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <table cellpadding="0" cellspacing="0" class="dataTable table table-striped" id="example">

        </table>
    </div>
    <!-- /.container-fluid -->


    <!-- End of Main Content -->
    <%- include('body2'); -%>
    <script src="../../vendor/datatables/js/myDataTable.js"></script>
    <script src="../../vendor/datatables/js/jquery.dataTables.js"></script>
    <script src="../../vendor/datatables/js/dataTables.buttons.js"></script>
    <script src="../../vendor/datatables/js/dataTables.select.js"></script>
    <script src="../../vendor/datatables/js/bootstrap.js"></script>
    <script src="../../vendor/datatables/js/dataTables.responsive.js"></script>
    <script src="../../vendor/datatables/dataTables.altEditor.free.js"></script>

</body>

</html>