<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Word Document Generator - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> -->
  <link href="../../css/fontbootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-password-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Update an Account!</h1>
              </div>
              <!-- onsubmit="event.preventDefault(); validateMyForm();" -->
              <form class="user" id="login" action="/api/user/config" method="post" onsubmit="event.preventDefault(); validateMyForm();">
                <div class="form-group">
                  <!-- <div class="col-sm-6 mb-3 mb-sm-0"> -->
                    <input type="text" class="form-control form-control-user" name = "name" id="exampleFirstName" value="<%= name %>" placeholder="First Name">
                    

                </div>
                <% if(locals.role && typeof role != 'undefined' && role == "SuperAdmin") { %>
                  <div class="form-group">
                    <input type="email" name = "email" class="form-control form-control-user" id="exampleInputEmail" value="<%= email %>" placeholder="Email Address">
                  </div>
                <%}%>

                <div class="form-group">
                    <input type="password" name = "password_old" class="form-control form-control-user" id="oldpass" placeholder="Your Password">
                  </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" name = "password" id="exampleInputPassword" placeholder="Password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" name= "passwordConf" id="exampleRepeatPassword" placeholder="Repeat Password">
                  </div>
                </div>
                <!-- <a href="/login/2" class="btn btn-primary btn-user btn-block"> -->
                  <!-- Register Account -->
                <!-- </a> -->
                <input class="btn btn-primary btn-user btn-block" type="submit" value="UPDATE">
              </form>
              <hr>
              <div class="text-center" style = "display: none">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="/">Return to Home Page!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../js/sb-admin-2.min.js"></script>
	<script type="text/javascript">
		var passWordField = document.getElementById('exampleInputPassword')
    var passWordConfirmField = document.getElementById('exampleRepeatPassword')
    var oldpassword = document.getElementById('oldpass')
		var form = document.getElementById('login')
		function validateMyForm(){

      if(isEmptyOrSpaces(oldpassword.value) || oldpassword.value.length < 6)
      {
          alert("Please enter you password.");
          return;
      }

			if(!isEmptyOrSpaces(passWordField.value) && passWordField.value != passWordConfirmField.value){ 
		    	alert("Passwords do not match. Please try again.");
		  	} else {
          if(passWordField.value.length > 5)
          {
            form.submit();
          }
          else
          {
            alert("Please enter a password more than 5 char.");
          }
            
		  	}
    }
    
    function isEmptyOrSpaces(str){
    return str === null || str.match(/^ *$/) !== null;
    }
	</script>	
</body>

</html>
