<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header'); -%>
    <!-- Latest compiled and minified CSS -->


    <!-- <script src="../../js/datasource.js"
        type="text/javascript"></script> -->
    <!-- <link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-grids/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-navigations/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-dropdowns/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-lists/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-inputs/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet"> -->


    <link rel="stylesheet" href="../../vendor/DevExtreme/css/dx.common.css">
    <link rel="stylesheet" href="../../vendor/DevExtreme/css/dx.light.css">

    <link href="../../resources/material.css" rel="stylesheet">


    <!-- <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js" type="text/javascript"></script> -->
    <script src="../../resources/ej2.min.js" type="text/javascript"></script>

    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->

    <style>
        body {
            touch-action: none;
        }

        .e-row[aria-selected="true"] .e-customizedExpandcell {
            background-color: #e0e0e0;
        }

        .e-grid.e-gridhover tr[role='row']:hover {
            background-color: #eee;
        }

        .e-expand::before {
            content: '\e5b8';
        }

        .e-dashboardlayout {
        padding: 20px;
        z-index: 0;
    }
    .e-panel {
        cursor: auto !important;
    }
    .e-panel-header{
        border: none !important;
        height: 50px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    .template{
        height: 100%;
        width: 100%;
    }
    
    #control-container {
        padding: 0px !important;
    }
    #gradient-chart stop {
        stop-color: #2485FA;        
    }
    #gradient-chart1 stop{
        stop-color: #FEC200;
    } 
    .ellipse[id*=_Trackball_1] {
        stroke-width: 1 !important;
    }
    .e-chart-focused:focus {
        outline: none !important;
    }
    .title{
        font-size: 15px;
        font-weight: bold;
        color: #737373;
    }
            
    </style>

</head>

<body id="page-top">

    <%- include('body1'); -%>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <!-- Begin Page Content -->

    <h5 style="    margin: auto;
  width: 20%;
  /* border: 3px solid green; */
  padding: 5px;">income statement - <%- new Date().getFullYear(); -%> <span class="badge badge-primary">Statistics</span></h5>
    <br>
    <!-- <button id="btn" name="btn" onclick="myFunction()"> click me</button>
    <br> -->
    <br>



    <div class="container-fluid">

        <div class="container" id="chartContainer">
            <div id="chartContainer-year"></div> 
        </div>
        
    </div>
    <!-- End of Main Continer -->


    <!-- End of Main Content -->
    <%- include('body2'); -%>



    <script>
        
    </script>

<!-- public/vendor/DevExtreme -->

    <!-- <script src="../../vendor/DevExtreme/Sources/Lib/js/dx.all.js" type="text/javascript"></script> -->
    <script src="../../js/incomestatement.js" type="text/javascript"></script>



</body>

</html>