<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header'); -%>
</head>

<body id="page-top">

        <%- include('body1'); -%>
        <!-- End of Topbar -->

        <div class="container-fluid">

          <!-- 404 Error Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text="404">403</div>
            <p class="lead text-gray-800 mb-5">Permission Denied</p>
            <p class="text-gray-500 mb-0">Sorry, you do not have access to this page, please contact your administrator...</p>
            <a href="/">&larr; Back to Dashboard</a>
          </div>

        </div>
        <!-- /.container-fluid -->


      <!-- End of Main Content -->
      <%- include('body2'); -%>

</body>

</html>
